@CHARSET "UTF-8";

.paf-dialog .ui-dialog-titlebar-close {
  display: none;
}

.form-item-instance-settings-container-panels-layout-general,
.form-item-instance-settings-container-panels-layout-selector {
  float: left;
}

.paf-preview-container {
  border: 1px solid #CCCCCC;
  padding: 10px;
}