@CHARSET "UTF-8";

.html ul.action-links {
  float: left;
  margin: 0;
  margin-top: -30px;
}

#panels-dnd-main div.panel-region .pane-add-link {
  clear: none;
}

#branding {
	display: none;
}

body #page {
  padding-top: 5px;
}


/** Panels editor **/
.paf-editor-buttons {
  width: 100%;
  display: block;
  text-align: right;
}

.paf-editor-buttons-bottom {
  clear: both;
  float:left;
  margin-top: 20px;
}

#paf-display-editor-form h2.label {
  display: none;
}

#paf-display-editor-form div.panel-region {
  padding-bottom: 2em;
}

#paf-display-editor-form .panel-region div.panel-pane {
  position: relative;
}

#paf-display-editor-form .panel-portlet {
  background: transparent;
  border: none;
}

.paf-pane-content,
.paf-pane-grabber {
  background: none repeat scroll 0 0 #FFFFFF;
}

.paf-pane-content {
  min-height: 70px;
}

.pane-links-overridden .paf-pane-content {
  border: 1px solid #BBB;
  min-height: 70px;
  _height: 70px;
  *height: 70px;
  margin-left: 27px;
}

.paf-pane-content .pane-title,
.paf-pane-content .toggle {
  margin-top: 10px;
}

.paf-pane-content .pane-content {
  padding: 0 20px;
  clear: both;
}

.pane-links-normal .paf-pane-content {
  padding-top: 10px;
}

.pane-links-normal .paf-pane-content .paf-pane-bundle {
  margin-top: 0;
}

#panels-dnd-main .pane-links-normal .pane-title,
#panels-dnd-main .pane-links-normal .toggle {
  margin-top: 0;
}

.pane-links-normal .paf-pane-content {
  min-height: 45px;
}

.paf-pane-bundle {
  float: left;
  margin: 10px 10px 10px 10px;
}

.panel-portlet .paf-pane-grabber {
  border-bottom: 0;
}

.panel-portlet .paf-pane-grabber .text {
  display: none;
}

.paf-pane-links {
  background: transparent url('../images/bg-pane-actions.png') 0 0 no-repeat;
  display: block;
  width: 27px;
  height: 72px;
  /*float: left;*/
  position: absolute; top: 0; left: 0;
}

.paf-pane-links ul {
  list-style: none;  
}

.paf-pane-links ul li {
  list-style-item: none;  
}

.pane-links-overridden .paf-pane-grabber,
.pane-links-overridden .paf-pane-grabber:hover {
  background: transparent url('../images/icon_grab.png') 50% 50% no-repeat;
  display: block;
  width: 19px; height: 19px;
  margin-bottom: 3px;
  margin-left: 3px;
  position: absolute; top: 3px; left: 3px; z-index: 1;
 /* float: right;*/
  z-index: 100;
}

.paf-pane-links .pane-edit {
  background: transparent url('../images/icon_edit.png') 50% 50% no-repeat;
  text-indent: -9999px;
  display: block; 
  float: right;
  width: 19px; height: 19px;
  margin-top: 21px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.paf-pane-links .pane-delete {
  background: transparent url('../images/icon_delete.png') 50% 50% no-repeat;
  text-indent: -9999px;
  display: block;
  float: right;
  width: 19px; height: 19px;
  margin-right: 3px;
}

#paf-display-editor-form .panel-portlet .grab-title {
  margin-bottom: 0;
}


/** content selector **/
.paf-content-selector {
  margin-top: 20px;  
}

.paf-content-selector .content-item {
  border: none;
  padding: 0 0 0 0px;
  margin-right: 10px;
  width: 75px !important;
  /*height: 48px;*/
  float: left;
  position: relative;
}

.paf-content-selector .content-item .grabber {
  background: transparent;
  background-image: none;
  display: block;
  width: 75px;
  height: 48px;
  cursor: move;
  position: absolute; top: 0; left: 0;
}